
body {
  background-image: url("https://images.unsplash.com/photo-1514250609276-c577268ef8fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=940&q=80");
  background-color: #396933;

}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.modal-content {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

button {
  margin-top: 2px;
  margin-left: 16px;
  margin-bottom: 8px;
  margin-right: 16px;
}


#student-cards {
  display: flex;
  flex-flow: row wrap;
  column-count: 3;
}

.card {
  margin: 10px;
}

#studentBody {
  color: #f7c539;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url("https://images.unsplash.com/photo-1510673825466-302bc330ab95?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1744&q=80");
  border: 2px solid #f2fff7;
  border-radius: 10px;
  justify-content: center;
}

#deathEaters {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 2px solid #f2fff7;
  background-image: url("https://images.unsplash.com/photo-1637775297458-7443ffd545b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80");
  border-radius: 15px;
}

h3 {
  padding-top: 20px;
}
